<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <style>

        body {
            font-family: 'Marker Felt', 'fantasy';
        }
        .body {
        background-color: black;
        }

        .header-lojinha {
        background: rgb(0, 174, 255); 
        color: white; 
            }

        .header-lojinha h1 {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
            }

        .header-lojinha p {
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
        }

                        
        footer {
        font-family: "Marker Felt", "fantasy";
        background: rgb(0, 174, 255); 
        color: white;
       }

        footer p {
            margin-bottom: 0.5rem;
        }

        footer hr {
            width: 80%;
            margin: 0 auto 1.5rem;
        }

        footer a {
            color: #b8b8b8;
            transition: color 0.3s;
        }

        footer a:hover {
            color: #ffffff;
            text-decoration: underline;
        }

        footer i {
            margin-right: 0.3rem;
        }

        .btn-custom {
        background: rgb(0, 174, 255); 
        color: white;
    }

    .btn-custom:hover {
        background-color: #990ff5; 
    }
    </style>

   
</head>
<body>
        <%- body %> 
    </script>
</body>
</html>
